    body {
        text-align: center;
        font-size: 30px;
    }
    
    .blue {
        color: blue;
    }
    
    .red {
        color: red;
    }
    
    .yellow {
        color: yellow;
    }
    
    .green {
        color: green;
    }
    
    input {
        border-radius: 20px;
        margin-top: 5px;
    }
    
    .box {
        padding: 10px;
        width: 400px;
        justify-content: center;
        height: 250px;
        border: 2px solid black;
    }
    
    sub {
        letter-spacing: -1;
    }